.layout {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  border-bottom: 1.8px solid var(--line);
  width: 100%;
  position: fixed;
}

.homeLogo {
  display: flex;
  font-size: x-large;
  font-weight: 600;
  color: var(--logo);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.dropdownContent {
  gap: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--homeStartedButton);
  top: 50px !important;
}
